.item-detail-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 650px;
    height: 350px;    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    text-align: center;
}

.item-detail-img{
    margin-top: 5em;
    width: 300px;
    height: 300px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
}

.item-elements{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3em;
}

.item-name{
    color: #555;
    font-size: 20px;
    font-weight: 600;
}

.item-price{
    color: #555;
    font-size: 20px;
    font-weight: 800;
}

.cart-options{
    display: flex;
    flex-direction: column;;
    gap: 20px;
}

.cart-option-back{
    width: 200px;
    height: 60px;
    border: none;
    font-size: 15px;
    border: solid #441883;
    background-color: #fff;
}

.cart-option-next{
    background-color: #fff;
    width: 200px;
    background: #441883;
    border: none;
    color: #fff;
    height: 60px;
    margin-top: 3em;
    font-size: 15px;
}
